body{
    font-family: Arial, sans-serif;
    background-color: #b4b4b4b4;
    text-align: center;
    margin: auto;
}
h2{
    color: #333;
}
form{
    max-width: 500px;
    max-height:500px;
    margin:auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"]:hover{
    background-color: #a4a4;
}